/*###############################
###
###     board-column.component.scss
###     Produktion App
###     BASED ON: Angular  21.02.0, SCSS,
###     AUTHOR: Benjamin Bennewitz
###
###
###       ██████╗  ▀█
###       ██╔══██╗ █▄
###       ██████╦╝
###       ██╔══██╗
###       ██████╦╝
###       ╚═════╝
###
###
#################################*/

/* ==========================================================================
   INHALTSVERZEICHNIS

   01   Host
   02   Drag-Zustand
   ========================================================================== */

/* ==========================================================================
   01   Host
   ========================================================================== */

:host {
  display: block;
  width: var(--board-column-width);
  min-width: var(--board-column-width);
  height: 100%;
  min-height: 0;
}

/* ==========================================================================
   02   Drag-Zustand
   ========================================================================== */

:host.cdk-drag-placeholder {
  opacity: 1;
}

.board-column-ui.cdk-drag-dragging {
  cursor: grabbing;
}
