/*###############################
###
###     carly-face.component.scss
###     Produktion App
###     BASED ON: Angular 21.2.19, SCSS
###     AUTHOR: Benjamin Bennewitz
###
###
###       ██████╗  ▀█
###       ██╔══██╗ █▄
###       ██████╦╝
###       ██╔══██╗
###       ██████╦╝
###       ╚═════╝
###
###
#################################*/

/* ==========================================================================
   INHALTSVERZEICHNIS

   01   Kopfansicht
   ========================================================================== */

/* ==========================================================================
   01   Kopfansicht
   ========================================================================== */

:host {
  display: block;
}

.carly-face {
  width: 5.7rem;
}

.carly-face--large {
  width: 10.5rem;
}

.carly-face cm-carly-character {
  display: block;
  width: 100%;
}
