/*###############################
###
###     topbar.component.scss
###     Produktion App
###     BASED ON: Angular  21.02.0, SCSS,
###     AUTHOR: Benjamin Bennewitz
###
###
###       ██████╗  ▀█
###       ██╔══██╗ █▄
###       ██████╦╝
###       ██╔══██╗
###       ██████╦╝
###       ╚═════╝
###
###
#################################*/

/* ==========================================================================
   INHALTSVERZEICHNIS

   01   Host
   ========================================================================== */

/* ==========================================================================
   01   Host
   ========================================================================== */

:host {
  position: fixed;
  inset: 0 0 auto;
  z-index: calc(var(--z-index-sticky) + 2);
  display: block;
  height: var(--layout-topbar-height);
}
