/* ========================================================================== 
   Datei: src/app/features/projects/pages/project-settings-page/project-settings-page.component.scss
   Projekt: Carly Managed
   Version: 1.1.0
   Beschreibung: Verankert die Seite für Projekteinstellungen.

   Inhaltsverzeichnis:
   1. Host
   ========================================================================== */

:host {
  display: block;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
