/* ==========================================================================
   Datei: src/styles.scss
   Projekt: Carly Managed
   Version: 1.0.0
   Beschreibung: Globaler Einstiegspunkt für das SCSS-Designsystem.

   Inhaltsverzeichnis:
   1. Designsystem
   ========================================================================== */

@use 'styles/index';
