/*###############################
###
###     _icons.scss
###     Produktion App
###     BASED ON: Angular  21.02.0, SCSS,
###     AUTHOR: Benjamin Bennewitz
###
###
###       ██████╗  ▀█
###       ██╔══██╗ █▄
###       ██████╦╝
###       ██╔══██╗
###       ██████╦╝
###       ╚═════╝
###
###
#################################*/

/* ==========================================================================
   INHALTSVERZEICHNIS

   01   Font Face
   02   Icon-Klasse
   ========================================================================== */

/* ==========================================================================
   01   Font Face
   ========================================================================== */

@font-face {
  font-family: 'Material Symbols Outlined';
  font-style: normal;
  font-weight: 100 700;
  font-display: block;
  src: url('/assets/fonts/material-symbols-outlined-latin-fill-normal.woff2') format('woff2');
}

/* ==========================================================================
   02   Icon-Klasse
   ========================================================================== */

.material-symbols-outlined {
  display: inline-block;
  overflow: hidden;
  font-family: 'Material Symbols Outlined';
  font-size: var(--size-icon-md);
  font-style: normal;
  font-weight: 400;
  font-feature-settings: 'liga';
  font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}
